.table_1 thead th {
  position: sticky;
  top: 0;
}
tfoot{
  position: sticky;
  bottom: -1px;
}
a {
  color: #0d6efd !important;
  text-decoration: underline !important;
  cursor: pointer;
}
td button {
  width: 100px;
  padding: 5px;
  font-size: 14px;
}

.trigger {
  margin: auto;
  position: relative;
  text-align: center;
  border: none;
  padding: 5px 8px;
  background: #4aab4e;
  border-radius: 50px;
  color: #fff;
  width: 30px;
  cursor: pointer;
}

.popup1 {
  position: absolute;
  left: -55px;
  top: 10px;
  transform: translate3d(0, -50%, 0);
  background: none;
  color: #000;
  max-width: 256px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19) !important;
  z-index: 1;
}

.groupBTN {
  padding: 0px 10px;
}

.popup1.btnGrp button:hover {
  background: #dd6c0c;
  color: #fff;
}

.popup1.btnGrp button {
  margin: 0px;
  border: none;
  padding: 7px 10px;
  border-bottom: 1px solid #b0adad;
} 

.popup1.btnGrp {
  display: grid;
}
.spinnerTrue {
  position: fixed;
  z-index: 100;
  left: 50%;
  right: 0;
  top: 50%;
  margin: auto;
}


