<div>
    <h2>Affiliate Payments</h2>
</div>
<div>
    <button class="fillterbtn font_16 color" (click)="fillermenu()">Filters
        <i *ngIf="!FillterMenu" class="fa fa-chevron-down IcArrow" title="open" style="font-size:14px;"></i>
        <i *ngIf="FillterMenu" class="fa fa-chevron-up IcArrow" title="close" style="font-size:14px;"></i>
    </button>

    <button class="fillterbtn m_l_5" style="float: right;" (click)="exportexcel()">ExportExcel</button>
    <button class="fillterbtn m_l_5 btn_sub12" style=" float: right;" (click)="exportCsv()"> Export Csv</button>
</div>

<div class="fd">
    <div class="fd filterDiv" *ngIf="FillterMenu">
        <form [formGroup]="filterForm" (ngSubmit)="onFormSubmit()">
            <div class="p_25">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-4">
                        <div class="div_flex p_5_10">
                            <label>Reporting PeriodStart</label> 
                            <input class="inp_agent_time" type="date" [max]="endDate" formControlName="startDate"
                                [ngModel]="startDate" (ngModelChange)="startDate = $event" (change)="showDate($event)" />
                            <input type="time" class="Birthdayinputs" format="yyyy-MM-dd" step="1"
                                [(ngModel)]="selectedTime" name="selectedTime" [ngModelOptions]="{standalone: true}"
                                (change)="timechnage($event)" />
                        </div>
                        <div class="div_flex p_5_10">
                            <label>Reporting PeriodEnd</label> 
                            <input class="inp_agent_time" type="date" [max]="todaydate" formControlName="endDate"
                                [ngModel]="endDate" (ngModelChange)="endDate = $event" (change)="showDate($event)" />
                            <input type="time" class="Birthdayinputs" format="yyyy-MM-dd" step="1"
                                [(ngModel)]="selectedEndTime" name="selectedEndTime"
                                [ngModelOptions]="{standalone: true}" />
                        </div>
                        <div class="div_flex p_5_10">
                            <label>currency</label>
                            <!-- <select class="seclectopt" formControlName="wallet">
                                <option value="" disabled> Real Money </option>
                                <option> User Preferred</option>
                                <option [ngValue]="CURRENCY.guid" *ngFor="let  CURRENCY of walletlists">
                                    {{CURRENCY.value}}
                                </option> 
                            </select> -->

                            <div class="multi_dropdown">
                                <ng-multiselect-dropdown [settings]="dropdownSettingscurrency" [data]="currencyList"
                                    [(ngModel)]="selectedcurrency" (onSelect)="onItemSelectcurrency($event)"
                                    (onDeSelect)="OnItemDeSelectcurrency($event)"
                                    (onSelectAll)="onSelectAllcurrency($event)"
                                    (onDeSelectAll)="onDeSelectAllcurrency($event)" formControlName="wallet">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-4">
                        <div class="div_flex p_5_10">
                            <label>Affiliate Accout Mask</label>
                            <input type="=text" formControlName="AffiliateAccoutMask" />
                        </div>
                        <div class="div_flex p_5_10">
                            <label>Status</label>
                            <input type="=text" formControlName="Status" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-4">
                        <div class="div_flex p_5_10">
                            <label>First Record</label>
                            <input type="text" formControlName="firstRecord" />
                        </div>
                        <div class="div_flex p_5_10">
                            <label>Page Size</label>
                            <input type="text" formControlName="maxCountRecord" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="fd">
    <button class="fillterbtn font_14" style="float: right;" (click)="onFormSubmit()">Submit</button>
    <div class="text-centers">
        <div style="margin-right:20px;" *ngIf="AffiliateData">Rows On the Page: {{rowsOnthePage}}</div>
        <div> Result Count: {{ResultCount}} <b *ngIf="resultcount">To get data set and apply
                the filters</b></div>
    </div>

</div>

<div class="fd table_2">
    <div clas='fd' *ngIf="loader">
        <div class="loaderWraper">
            <div class="loader"></div>
        </div>
    </div>
    <table class="tablCode" id="excel_table">
        <thead>
            <tr>
                <th>S.no</th>
                <th>Affiliate </th>
                <th>Date</th>
                <th>Hits </th>
                <th>Referred Players</th>
                <th>Number Of Depositors </th>
                <th>Number Of deposits </th>
                <th>Referred Affiliates</th>
                <th>Registation/Hits%</th>
                <th>Revenue From Players</th>
                <th>Revenue From Affiliate</th>
            </tr>
        </thead>
        <tbody *ngIf="AffiliateData">
            <tr *ngFor="let list Of AffiliateData; let i=index">
                <td>{{i+1}}</td>
                <td>{{list.webmaster.account}}</td>
                <td>{{list.date}}</td>
                <td>{{list.hits}}</td>
                <td>{{list.referredPlayers}}</td>
                <td>{{list.depositors}}</td>
                <td>{{list.depositsCount}}</td>
                <td>{{list.referredWebmasters}}</td>
                <td>{{list.regsPerHits}}</td>
                <td class="text-end">{{list.revenueFromPlayers.value |numberFormat}}</td>
                <td class="text-end">{{list.revenueFromWebmasters.value |numberFormat}}</td>
            
            </tr>
        </tbody>
    </table>
</div>
