<h1>Withdrawals</h1>
<div class="fd table_2">
  <table class=" tablCode" id="excel-table">
      <thead>
          <tr>
            <th>Server</th>
            <th>Agent</th>
            <th>Paymeny System</th>
            <th>Status</th>
            <th>Date</th>
            <th>Payment Means Number</th>
            <th>Cashout ID</th>
            <th>External ID</th>
            <th>Internal ID</th>
            <th>Charged Amount</th>
            <th>Order Amount</th>
            <th>Is Fraud</th>
            <th>System Comment</th>
          </tr>
      </thead>
      <tbody>
          <tr >
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
      </tbody>
  </table>
</div>