<div>
    <h3>Avatars </h3>
</div>

<div class="dropdown fd">
    <button (click)="fillermenu()" class="fillterbtn font_14">Filters
        <i *ngIf="!FillterMenu" class="fa fa-chevron-down IcArrow" title="open"
            style="font-size:14px;  transition:all 0.5s ;"></i>
        <i *ngIf="FillterMenu" class="fa fa-chevron-up IcArrow" title="close"
            style="font-size:14px; transition:all 0.5s"></i>
    </button>

    <button class="fillterbtn m_l_5" style="margin-right:15px; float: right;" (click)="exportexcel()"> Export
        Excel</button>
    <button class="fillterbtn m_l_5" style=" float: right;" (click)="exportCsv()"> Export Csv</button>
</div>
<div class="fd filterDiv" *ngIf="FillterMenu">
    <form [formGroup]="filterForm">
        <div class="p_25">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- <div class="div_flex p_5_10">
                        <label class="reglabel"> Date</label>
                        <input class="Birthdayinputs" format="yyyy-MM-dd HH:mm:ss" type="datetime-local" step="1"
                            formControlName="DateStart">
                        <input class="Birthdayinputs" format="24-hour" type="datetime-local" step="1"
                            formControlName="DateEnd">
                    </div> -->

                    <div class="df p_5_10">
                        <label>StartDate</label>
                        <input class="inp_agent_time" type="date" [max]="endDate" formControlName="startDate"
                            [ngModel]="startDate" (ngModelChange)="startDate = $event" (change)="showDate($event)" />
                        <input class="inp_agent_time mobile_view" type="time" formControlName="startTime" step="1"
                            [ngModel]="startTime" (ngModelChange)="startTime = $event" (change)="timechange($event)"
                            [max]="endTime" />
                    </div>
                    <div class="df p_5_10">
                        <label>EndDate</label>
                        <input class="inp_agent_time" type="date" [max]="todaydate" formControlName="endDate"
                            [ngModel]="endDate" (ngModelChange)="endDate = $event" (change)="showDate($event)" />
                        <input class="inp_agent_time mobile_view" type="time" formControlName="endTime" step="1"
                            [ngModel]="endTime" (ngModelChange)="endTime = $event" (change)="timechange($event)" />
                    </div>

                    <div class="red_col" *ngIf="steddate">
                        Start date should be below or equal to end date
                    </div>
                    <div class="red_col" *ngIf="timeerror">
                        Start time should be below or equal to end time
                    </div>

                    <div class="div_flex p_5_10">
                        <label>User Login</label>
                        <input type="text" formControlName="UserLogin" />
                    </div>
                    <!-- <div class="div_flex p_5_10">
                        <label>Status</label>
                        <select class="seclectopt" formControlName="Status">
                            <option [ngValue]="Avatarstatus.guid" *ngFor="let Avatarstatus of AvatarstatusList">
                                {{Avatarstatus.value}}</option>
                        </select>
                    </div> -->
                   
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="div_flex p_5_10">
                        <label>Status</label>
                        <!-- <select class="seclectopt" formControlName="Status">
                            <option [ngValue]="Avatarstatus.guid" *ngFor="let Avatarstatus of AvatarstatusList"
                                > {{Avatarstatus.value}}</option>
                        </select>
                         -->
                      <div  class="seclectopt" >
                        <ng-multiselect-dropdown
                           [settings]="dropdownSettingsstatus"
                           [data]="AvatarstatusList"
                           [(ngModel)]="selectedItemsStatus"
                           (onSelect)="onItemSelect($event)"
                           (onDeSelect)="OnItemDeSelect($event)"
                           (onSelectAll)="onSelectAll($event)"
                           (onDeSelectAll)="onDeSelectAll($event)"  
                           formControlName="Status">
                        </ng-multiselect-dropdown>
                  </div>
                    </div>
                    <div class="div_flex p_5_10">
                        <label>First Record</label>
                        <input type="text" formControlName="firstRecord" />
                    </div>
                    <div class="div_flex p_5_10">
                        <label>Page Size</label>
                        <input type="text" formControlName="maxCountRecord" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="fd">
    <button class="fillterbtn font_14" style="margin-right:15px; float: right;" (click)="onFormSubmit()">Submit</button>
    <div class="df">
        <div style="margin-right:20px;" *ngIf="AvatarList">Rows On the Page: {{rowsOnthePage}} </div>
        <div> Result Count: {{ResultCount}} <b *ngIf="resultcount">To get data set and apply
                the filters</b></div>
    </div>
</div>
<div class="fd table_2">
    <div *ngIf="loader">
        <div class="loaderWraper">
            <div class="loader"></div>
        </div>
    </div>
    <table class="tablCode " id="excel-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Avatar</th>
                <th>Player</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngIf="AvatarList">
            <tr (dblclick)="onClick(i)" *ngFor="let List of AvatarList, let i=index">
                <td>{{changeSelect(List.date) }}</td>
                <!-- <td><img src={{List.imageValue}}.png /></td> -->
                <td><img src="data:image/png;base64,{{List.image}}" /></td>
                <!-- <td><img src={{AvattImages}}/></td> -->
                <!-- <td></td> -->
                <td class="hyperLink" (click)="PlayerExplore(List.player.login, List.player.userId, List.player)">
                    <a>{{List.player.login}}</a></td>
                <td >{{List.status}}</td>
                <td>
                    <div class="fd">

                        <div class="trigger">
                            <a><i class="fa fa-reorder" style="color: #fff;" (click)="showmanu(i,List.guid)">
                                </i>
                            </a>
                            <div *ngIf="popupArrow" class="fd">
                                <div *ngIf="SeletedIconIndex == i" class="popup1 btnGrp">

                                    <!-- <button [disabled]="list.active==true" (click)="setPlayerActions('Enabled',i)">Enable Table</button>
                                    <button [disabled]="list.active==false" (click)="setPlayerActions('disabled',i)">Disable Table</button> -->
                                    <button [disabled]="List.status=='Approved'"  (click)="setPlayerActions('Approved',i)" >Approve Avatar</button>
                                    <button [disabled]="List.status=='Rejected'"  (click)="setPlayerActions('Rejected',i)" >Reject Avatar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
</div>


<!-- pagination-controls -->
<div class="fd" *ngIf="AvatarList">
    <div class="pagecount">
        <button class="Pagebtns" [disabled]="PageCount==1 || AvatarList==null" (click)="fastbackforward()"><i
                class="fa fa-step-backward" style="font-size:20px"></i>
        </button>
        <button class="Pagebtns" [disabled]="PageCount==1 ||AvatarList==null" (click)="prev()">
            <i class="fa fa-caret-left" style="font-size:20px"></i>
        </button>
        <div class="PageCountNoDiv">
            <div class="" *ngIf="AvatarList">{{PageCount}}</div>
        </div>
        <button class="Pagebtns " [disabled]="AvatarList==null || pagecontrolbtn" (click)="next()">
            <i class="fa fa-caret-right" style="font-size:20px"></i>
        </button>
        <button class="Pagebtns" [disabled]="AvatarList==null || pagecontrolbtn" (click)="fastforward()"><i
                class="fa fa-step-forward" style="font-size:20px"></i></button>
    </div>
</div>



<!-- ***************************Popup***************************************** -->




<!-- *************************Popup****************************************** -->
<div class="black_cover" *ngIf="playerAvatarPopup" (click)="closepopup()"></div>
<div class="popup_1 pop_sm" *ngIf="playerAvatarPopup">
    <div class="PopupHead">
        <h5 class="text-center">Players Avatars </h5>
        <span class="closetop" (click)="closepopup()"> <img src="assets/icons/closePop.svg"> </span>
    </div>
    <div class="soon font_13">
        <div class="fd p_5 ">

            <div class="df m_3">
                <label class="col-sm-6"> Date </label>
                <span class="col-sm-6">{{changeSelect(playerAvatarData.date) }} </span>
            </div>
            <div class="df m_3">
                <label class="col-sm-6"> Avatar </label>
                <!-- <span class="col-sm-6"><img [src]=playerAvatarData.imageValue /> </span> -->
                <span class="col-sm-6"><img src="data:image/png;base64,{{playerAvatarData.image}}" /> </span>
            </div>
            <div class="df m_3">
                <label class="col-sm-6"> Player </label>
                <span class="col-sm-6">{{playerAvatarData.player.login}} </span>
            </div>
            <div class="df m_3">
                <label class="col-sm-6"> Status </label>
                <span class="col-sm-6">{{playerAvatarData.status}} </span>
            </div>
        </div>
        <div class="bottomFix">
            <!-- <button class="btn_grade_1" (click)="closepopup()"> Save </button> -->
            <button class="btn_grade_2" (click)="closepopup()"> Cancel </button>
        </div>
    </div>
</div>
<!-- ******************************************************* -->
<div class="black_cover" *ngIf="SpinnwerT"></div>
<!-- <div class="FullCover" *ngIf="SpinnwerT"></div> -->
<div class="spinnerTrue" *ngIf="SpinnwerT">
    <i class="fa fa-spinner fa-spin" style="font-size:60px;color: #f28916;"></i>
</div>