<!-- <p>create-new-administrator works!</p> -->
<!-- *********************************Pop_UP*********************************************** -->
<!-- <div class="black_cover" *ngIf="createNnewAadministratorPopup ">
    <div class="popup_1 pop_sm" *ngIf="createNnewAadministratorPopup">
      <div class="PopupHead">
        <h5 class="text-center"> New Admin </h5>
        <span class="closetop" (click)="closepopup()"> <img src="assets/icons/closePop.svg"> </span>
      </div>
      <div class="soon font_13 fd p_lr_15">
        <div class="fd p_5 "  [formGroup]="filterForm">
          <div class="df m_3">
            <label class="col-sm-6"> Login Name</label>
            <input class="col-sm-6" type="text" formControlName="loginName" />
          </div>
          <div class="df m_3">
            <label class="col-sm-6"> Password </label>
            <input class="col-sm-6" type="password"   formControlName="password"/>
          </div>
          <div class="df m_3">
            <label class="col-sm-6"> First Name </label>
            <input class="col-sm-6" type="text"  formControlName="firstName" />
          </div>
          <div class="df m_3">
            <label class="col-sm-6"> Last Name </label>
            <input class="col-sm-6" type="text"  formControlName="lastName" />
          </div>
          <div class="df m_3">
            <label class="col-sm-6"> Email </label>
            <input class="col-sm-6" type="text"  formControlName="email" />
          </div>
          <div class="df m_3">
            <label class="col-sm-6"> Face </label>
            <select class="col-sm-6"  formControlName="faces">
              <option [ngValue]="Status.name" *ngFor="let  Status of faceParameterslist">
                {{Status.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="bottomFix">
        <button class="btn_grade_1" (click)="onFormSubmit()"> Save </button>
        <button class="btn_grade_2" (click)="closepopup()"> Cancel </button>
      </div>
    </div>
  </div> -->
<!-- ******************************************************************************** -->



<!-- <div class="black_cover" *ngIf="createNnewAadministratorPopup "> -->
<div class="popup_3 pop_sm" *ngIf="createNnewAadministratorPopup">
  <div class="fd PopupHead">
    <h5 class="text-center"> New Admin </h5>
    <!-- <span class="closetop" (click)="closepopup()"> <img src="assets/icons/closePop.svg"> </span> -->
  </div>
  <div class="soon font_13 fd p_lr_15">
    <div class="fd p_5 " [formGroup]="CreateAdminForm">
      <div class="df m_3">
        <label class="col-sm-6"> Login Name</label>
        <input class="col-sm-6" (keyup)="onKey($event)" type="text" formControlName="loginName" />
      </div>
      <div class="df m_3">
        <label class="col-sm-6"> Password </label>
        <input class="col-sm-6" (keyup)="onKey($event)" type="password" formControlName="password" />
      </div>
      <div class="df m_3">
        <label class="col-sm-6"> First Name </label>
        <input class="col-sm-6" (keyup)="onKey($event)" type="text" formControlName="firstName" />
      </div>
      <div class="df m_3">
        <label class="col-sm-6"> Last Name </label>
        <input class="col-sm-6" (keyup)="onKey($event)" type="text" formControlName="lastName" />
      </div>
      <div class="df m_3">
        <label class="col-sm-6"> Email </label>
        <input class="col-sm-6" (keyup)="onKey($event)" type="text" formControlName="email" />
      </div>
      <div class="df m_3">
        <label class="col-sm-6"> Face </label>
        <select class="col-sm-6" (keyup)="onKey($event)" formControlName="faces">
          <option [ngValue]="Status.name" *ngFor="let  Status of faceParameterslist">
            {{Status.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="bottomFix text-center">
    <button class="btn_grade_1" (click)="onFormSubmit()" [disabled]="CreateAdminForm.invalid"> Save </button>
    <!-- <button class="btn_grade_2" (click)="closepopup()"> Cancel </button> -->
    <!-- <button class="btn_grade_2"> Cancel </button> -->
  </div>
  <!-- </div> -->
  <!-- </div> -->




<!-- 
  <form [formGroup]="formreg">
    <div class="container">
      <h1 class="heading2">User Register</h1>
      <div class="mt-3 pb-2">
        <label for="urname" class="">Username</label>
        <input type="text" id="urname" class="form-control w-30" placeholder="Username" formControlName="usname" />
        <span class="spanmsg">{{usererr}}</span>
        <div *ngIf="f['usname'].touched && f['usname'].invalid" class="alertmsg">
          <div *ngIf="f['usname'].errors && f['usname'].errors['required']">Name is required.</div>
          <div *ngIf="f['usname'].errors && f['usname'].errors['minlength']">Name should be 5 character.</div>
          <div *ngIf="f['usname'].errors && f['usname'].errors['pattern']"> Enter alphabets and numeric only</div>
        </div>
        <button type="button" class="btn btn-primary" (click)="Alert()" [disabled]="formreg.invalid">login</button>
      </div>
    </div>
  </form>
</div> -->