<div class="black_cover">
    <div class="popup_1 pop_sm">
        <div class="PopupHead">
            <h5 class="text-center">Change Permission Group</h5>
            <span class="closetop" (click)="Permissionspopup()"> <img src="assets/icons/closePop.svg">
            </span>
        </div>
        <div class="soon font_13 fd p_lr_15">
            <div class="fd p_15 text-center">
                <select class="text-center seclectopt " [(ngModel)]="SeletedPermissionGroup">
                    <option [ngValue]="list.guid" *ngFor="let list of PermissionGroupList">
                        {{list.name}}
                    </option>
                </select>
            </div>
            <div class="fd p_15 d-flex align-items-center" *ngIf="userType=='Agent'">
                <input [(ngModel)]="subAgentCheckbox" (change)="inputCheckchange($event)" type="checkbox" id="check" />
                <label class="ms-2" for="check">Also Change Group for all sub-agents</label>
            </div>
        </div>
        <div class="bottomFix">
            <button class="btn_grade_1" (click)="onSubmit()"> Save </button>
            <button class="btn_grade_2" (click)="Permissionspopup()"> Cancel </button>
        </div>
    </div>
</div>

<!-- ---------------Spinner -------------->

<div class="black_cover" *ngIf="SpinnwerT">
    <div class="spinnerTrue" *ngIf="SpinnwerT">
        <i class="fa fa-spinner fa-spin" style="font-size:60px;color: #f28916;"></i>
    </div>
</div>