<h1>Cashouts</h1>

<div class="fd table_2">
  <table class=" tablCode" id="excel-table">
      <thead>
          <tr>
            <th>Server</th>
            <th>Agent</th>
            <th>Cashout Date</th>
            <th>Cashout Amount</th>
            <th>Status</th>
            <th>Pending Amount</th>
            <th>Paid Amount</th>
            <th>Cancelled Amount</th>
            <th>Cashout ID</th>
            <th>By Admin</th>
            <th>Registration</th>
            <th>Black List</th>
            <th>User Comment</th>
          </tr>
      </thead>
      <tbody>
          <tr >
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
      </tbody>
  </table>
</div>