<!-- <div class="topnav">
    <a (click)="fillterMenu()">Filter</a>
    <a>Actions</a>
    <a>Open</a>
    <a>Explore</a>
    <a (click)="ignoreContext()">Ignore Context</a>
    <div class="dropdown">
        <button class="dropbtn">View</button>
        <div class="dropdown-content">
            <a (click)="onRequery()">Normal</a>
            <a>Autosize</a>
            <a>Card</a>
        </div>
    </div>
    <a (click)="onRequery()">Requery</a>
    <a (click)="exportExcel()">Export to XSL</a>
    <a (click)="onPrint()">Print</a>
</div> -->

<div>
    <h3>Withdrawals</h3>
</div>

<div>
    <button class="fillterbtn font_16" (click)="fillterMenu()">Filters
        <i *ngIf="!FillterList" class="fa fa-chevron-down IcArrow" title="open" style="font-size:14px;"></i>
        <i *ngIf="FillterList" class="fa fa-chevron-up IcArrow" title="close" style="font-size:14px;"></i>
    </button>

    <button class="fillterbtn m_l_5" style=" float: right;" (click)="exportExcel()"> Export Excel</button>
    <button class="fillterbtn m_l_5 btn_sub12" style=" float: right;" (click)="exportCsv()"> Export CSV</button>
</div>
<!-- filtermenu start -->
<div class="fd filterDiv" *ngIf="FillterList">
    <form [formGroup]="filterForm">
        <div class="p_25">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-4">
                    <!-- <div class="df">
                        <label>Reporting Period</label>
                        <input class="Birthdayinputs" format="yyyy-MM-dd" type="datetime-local"
                            formControlName="reportingPeriodFrom">
                        <input class="Birthdayinputs" format="yyyy-MM-dd" type="datetime-local"
                            formControlName="reportingPeriodTo">
                    </div> -->
                    <div class="div_flex p_5_10">
                        <label>Reporting Period Start</label>
                        <input class="inp_agent_time" type="date" [max]="endDate" formControlName="startDate"
                            [ngModel]="startDate" (ngModelChange)="startDate = $event" (change)="showDate($event)" />
                        <input type="time" class="Birthdayinputs" step="1" formControlName="startTime"
                            [(ngModel)]="selectedTime" name="selectedTime" [ngModelOptions]="{standalone: true}"
                            (change)="timechnage($event)" />
                    </div>
                    <div class="div_flex p_5_10">
                        <label>Reporting Period End</label>
                        <input class="inp_agent_time" type="date" [max]="todaydate" formControlName="endDate"
                            [ngModel]="endDate" (ngModelChange)="endDate = $event" (change)="showDate($event)" />
                        <input type="time" class="Birthdayinputs"  step="1" formControlName="endTime"
                            [(ngModel)]="selectedEndTime" name="selectedEndTime"
                            [ngModelOptions]="{standalone: true}" />
                    </div>
                    <div class="div_flex p_5_10">
                        <label>Currency</label>
                        <!-- <select class="seclectopt" formControlName="currency">
                            <option [ngValue]="currency.guid" *ngFor="let currency of currencyList">
                                {{currency.description}}</option>
                        </select> -->

                        <div class="multi_dropdown">
                            <ng-multiselect-dropdown [settings]="dropdownSettingscurrency" [data]="currencyList"
                                [(ngModel)]="selectedcurrency" (onSelect)="onItemSelectcurrency($event)"
                                (onDeSelect)="OnItemDeSelectcurrency($event)"
                                (onSelectAll)="onSelectAllcurrency($event)"
                                (onDeSelectAll)="onDeSelectAllcurrency($event)" formControlName="currency">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                    <div class="div_flex p_5_10" *ngIf="!playerExplorer && !AgentExplorer">
                        <label>User Type</label>
                        <!-- <select class="seclectopt" formControlName="userType">
                            <option [ngValue]="type.guid" *ngFor="let type of usertypes">{{type.value}}</option>>
                        </select>  -->
                        <div class="multi_dropdown">
                            <ng-multiselect-dropdown [settings]="dropdownSettingsUsertypes" [data]="usertypes"
                                [(ngModel)]="selectedUserlist" (onSelect)="onItemSelectUsertypes($event)"
                                (onDeSelect)="OnItemDeSelectUsertypes($event)"
                                (onSelectAll)="onSelectAllUsertypes($event)"
                                (onDeSelectAll)="onDeSelectAllUsertypes($event)" formControlName="userType">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                    <div class="div_flex p_5_10" *ngIf="!playerExplorer&& !AgentExplorer">
                        <label>User Login</label>
                        <input type="text" formControlName="userLogin" placeholder="(none)">
                    </div>
                    <div class="div_flex p_5_10" *ngIf="!playerExplorer && !AgentExplorer">
                        <label>Short ID</label>
                        <input type="text" formControlName="shortId" placeholder="(none)">
                    </div>
                </div>

                <div class="col-12 col-lg-6 col-xl-4">
                    <div class="div_flex p_5_10" >
                        <label>Payment System</label>
                        <!-- <select class="seclectopt" formControlName="paymentSystem" placeholder="(none)">
                            <option [ngValue]="paymentSystem.guid" *ngFor="let paymentSystem of paymentSystemlist">
                                {{paymentSystem.value}}</option>
                        </select> -->
                        
                        <div class="multi_dropdown">
                            <ng-multiselect-dropdown [settings]="dropdownSettingsPaymentSystem"
                                [data]="PaymentsSystemsList" [(ngModel)]="selectedPaymentsSystemsList"
                                (onSelect)="onItemSelectPaymentSystem($event)"
                                (onDeSelect)="OnItemDeSelectPaymentSystem($event)"
                                (onSelectAll)="onSelectAllPaymentSystem($event)"
                                (onDeSelectAll)="onDeSelectAllPaymentSystem($event)" formControlName="paymentSystem">
                            </ng-multiselect-dropdown>
                        </div> 
                    </div>
                    <div class="div_flex p_5_10" *ngIf="!AgentExplorer">
                        <label>Payment Means Number</label>
                        <input type="text" formControlName="paymentMeansNumber" placeholder="(none)">
                    </div>
                    <div class="div_flex p_5_10" >
                        <label>Status</label>
                        <!-- <select class="seclectopt" formControlName="status" placeholder="(none)">
                            <option [ngValue]="Status.guid" *ngFor="let Status of TransactionStatusesList">
                                {{Status.value}}</option>
                        </select> -->
                        <div class="multi_dropdown">
                            <ng-multiselect-dropdown [settings]="dropdownStatusSettings" [data]="TransactionStatusesList"
                                [(ngModel)]="convertedStatus" (onSelect)="onItemSelectStatus($event)"
                                (onDeSelect)="OnItemDeSelectStatus($event)" (onSelectAll)="onSelectAllStatus($event)"
                                (onDeSelectAll)="onDeSelectAllStatus($event)"
                                formControlName="status"></ng-multiselect-dropdown>
                        </div>
                    </div>
                    <div class="div_flex p_5_10" >
                        <label>Cashout ID</label>
                        <input type="text" formControlName="cashoutId" placeholder="(none)">
                    </div>
                    <div class="div_flex p_5_10" *ngIf="!AgentExplorer">
                        <label>Internal ID</label>
                        <input type="text" formControlName="internalId" placeholder="(none)">
                    </div>

                </div>

                <div class="col-12 col-lg-6 col-xl-4">
                    <div class="div_flex p_5_10" *ngIf="!AgentExplorer">
                        <label>External ID</label>
                        <input type="text" formControlName="externalId" placeholder="(none)">
                    </div>
                    <div class="div_flex p_5_10" *ngIf="!AgentExplorer">
                        <label>Initiator Login</label>
                        <input type="text" formControlName="initiatorLogin" placeholder="(none)">
                    </div>
                    <div class="div_flex p_5_10" *ngIf="!playerExplorer && !AgentExplorer">
                        <label>Face</label>
                        <!-- <select class="seclectopt" formControlName="face">
                            <option [ngValue]="face.name" *ngFor="let face of faceList">{{face.name}}</option>
                        </select> -->

                        <div class="multi_dropdown">
                            <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="dropdownList12"
                                [(ngModel)]="selectedItems12" (onSelect)="onItemSelectnew($event)"
                                (onDeSelect)="OnItemDeSelectnew($event)" (onSelectAll)="onSelectAllnew($event)"
                                (onDeSelectAll)="onDeSelectAllnew($event)"
                                formControlName="networkNames"></ng-multiselect-dropdown>
                        </div>
                    </div>
                    <div class="div_flex p_5_10">
                        <label>First Record</label>
                        <input type="number" formControlName="firstRecord">
                    </div>
                    <div class="div_flex p_5_10">
                        <label>Page Size</label>
                        <input type="number" formControlName="maxCountRecord">
                    </div>
                    <!-- <button class="fillterbtn insidebtn" (click)="onFormSubmit()">Apply</button>
                    <button class="fillterbtn insidebtn" (click)="FormReset()">Reset</button> -->
                </div>
            </div>
        </div>
    </form>
</div>
<div class="fd">
    <button class="fillterbtn font_14" style="float: right;" (click)="onFormSubmit()">Submit</button>
    <div class="df m_t_5">

        <div style="margin-right:20px;" *ngIf="withdrawalsList">Rows On the Page: {{rowsOnthePage}}</div>
        <div> Result Count: {{ResultCount}} <b *ngIf="resultcount">To get data set and apply
                the filters</b></div>
    </div>
</div>
<!-- filtermenu end  -->
<!-- 
<div class="fd">
    <div class="text-center">
    <div>Rows On the Page: {{rowsOnthePage}}</div>
    <div> Result Count: {{ResultCount}} <b>To get data set and apply the filters</b></div>
    <div> Applied Filters: {{counter}}</div>
    <div class="paginationdiv">
        <button class="backbutton" (click)="prev()"> < Previous</button>
        <button class="backbutton" (click)="next()"> Next > </button>
    </div>
    </div>
</div> -->

<div class="fd over_tb1" id="tablerecords" style="overflow-x:auto;">
    <div clas='fd' *ngIf="dataLoader">
        <div class="loaderWraper">
            <div class="loader"></div>
        </div>
    </div>
    <div class="fd tablCode" *ngIf="!AgentExplorer">
        <table class=" table_2 table-striped" id="excel_table">
            <thead>
                <tr>
                    <th  *ngIf="playerExplorer">Player</th>
                    <th  *ngIf="!playerExplorer">Face</th>
                    <th>Start Date</th>
                    <th>Finish Date</th>
                    <th  *ngIf="!playerExplorer">User Type</th>
                    <th  *ngIf="!playerExplorer">User</th>
                    <th  *ngIf="!playerExplorer">Short ID</th>
                    <th>Status</th>
                    <th>Charged Amount</th>
                    <th>Order Amount</th>
                    <th>Cuit</th>
                    <th>Cbu</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Payment System</th>
                    <th>Payment Means Number</th>
                    <th>Cashout ID</th>
                    <th>Internal ID</th>
                    <th>External ID</th>
                    <th>System Comment</th>
                    <th>Initiator</th>
                    <th>Nick Name</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody *ngIf="withdrawalsList">
                <tr (dblclick)="onClick(i)" *ngFor=" let i = index ; let List of withdrawalsList">
                    <td  *ngIf="playerExplorer" class="text-orange">{{List.user?.login}}</td>
                    <td  *ngIf="!playerExplorer">{{List.userFace}}</td>
                    <td>{{transformDate(List.startDate)}}</td>
                    <td>{{transformDate(List.finishDate)}}</td>
                    <td  *ngIf="!playerExplorer">{{List?.user?.type}}</td>
                    <td  *ngIf="!playerExplorer" class="hyperLink" (click)=" List.user.type == 'Player' ? PlayerExplore(List.user.login, List.user.guid, List) : AgentExplore(List.user.login, List.user.guid, List)">{{List.user?.login}}</td>
                    <td  *ngIf="!playerExplorer">{{List?.user?.shortId}}</td>
                    <td>{{List?.status}}</td>
                    <td class="text-end">{{List.chargedAmount.value |numberFormat}}</td>
                    <td class="text-end text-orange">{{List.orderAmount.value |numberFormat}}</td>
                    <td>{{List?.cuit}}</td>
                    <td>{{List?.cbu}}</td>
                    <td>{{List?.name}}</td>
                    <td>{{List?.address}}</td>
                    <td >{{List?.paymentSystemType}}</td>
                    <td>{{List?.paymentMeansNumber}}</td>
                    <td>{{List?.cashoutId}}</td>
                    <td>{{List?.internalId}}</td>
                    <td></td>
                    <td class="text-nowrap">{{List?.comment}}</td>
                    <td>{{List?.initiator.login}}</td>
                    <td>{{List?.nickName}}</td>
                    <td>{{List?.phone}}</td>
                </tr>
            </tbody>
        </table>
    </div>
      <div class="fd tablCode" *ngIf="AgentExplorer">
        <table class=" table_2 table-striped" id="excel_table">
            <thead>
                <tr>
                    <th>Agent</th>
                    <th>Payment System</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Payment Means Number</th>
                    <th>Cashout ID</th>
                    <th>External ID</th>
                    <th>Internal ID</th>
                    <th>Charged Amount</th>
                    <th>Order Amount</th>
                    <th>Is Fraud</th>
                    <th>System Comment</th>
                </tr>
            </thead>
            <tbody *ngIf="withdrawalsList">
                <tr (dblclick)="onClick(i)" *ngFor=" let i = index ; let List of withdrawalsList">
                    <td  *ngIf="playerExplorer" class="text-orange">{{List.agent?.login}}</td>
                    <td >{{List?.paymentSystemType}}</td>
                    <td>{{List?.status}}</td>
                    <td>{{transformDate(List.startDate)}}</td>
                    <td>{{List?.paymentMeansNumber}}</td>
                    <td>{{List?.cashoutId}}</td>
                    <td></td>
                    <td>{{List?.internalId}}</td>
                    <td class="text-end">{{List.chargedAmount.value |numberFormat}}</td>
                    <td class="text-end text-orange">{{List.orderAmount.value |numberFormat}}</td>
                    <td></td>
                    <td class="text-nowrap">{{List?.comment}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <pagination-controls class="pagination justify-content-end" (pageChange)="p=$event"
        class="pt-2 page-item float-right">
    </pagination-controls> -->

    <!-- <div class="page_count">
        <div style="margin-right:20px;" *ngIf="withdrawalsList">Rows On the Page: <b>{{rowsOnthePage}}</b> </div>
        <div> Result Count:<b>{{ResultCount}}</b> <b *ngIf="resultcount">To get data set and apply the filters</b></div>
    </div> -->
</div>
<div class="fd">
    <div class="fd" *ngIf="withdrawalsList && withdrawalsList.length>0">
        <div class="pagecount">
            <button class="Pagebtns" [disabled]="PageCount==1 || withdrawalsList==null" (click)="fastbackforward()"><i
                    class="fa fa-step-backward" style="font-size:20px"></i>
            </button>
            <button class="Pagebtns" [disabled]="PageCount==1 ||withdrawalsList==null" (click)="prev()">
                <i class="fa fa-caret-left" style="font-size:20px"></i>
            </button>
            <div class="PageCountNoDiv">
                <div class="" *ngIf="withdrawalsList">{{PageCount}}</div>
            </div>
            <button class="Pagebtns " [disabled]="withdrawalsList==null || pagecontrolbtn" (click)="next()">
                <i class="fa fa-caret-right" style="font-size:20px"></i>
            </button>
            <button class="Pagebtns" [disabled]="withdrawalsList==null || pagecontrolbtn" (click)="fastforward()">
                <i class="fa fa-step-forward" style="font-size:20px"></i></button>
        </div>
    </div>
</div>

<!-- *****************************PopUp********************************** -->
<div class="black_cover" *ngIf="Withdrawalspopup">
    <div class="popup_1 pop_sm" *ngIf="Withdrawalspopup">
        <div class="PopupHead">
            <h5 class="text-center">Withdrawals </h5>
            <span class="closetop" (click)="closePopup()"> <img src="assets/icons/closePop.svg"> </span>
        </div>
        <div class="soon font_13 fd p_lr_15">
            <div class="fd p_5 ">
                <div class="df m_3">
                    <label class="col-sm-6"> Face</label>
                    <span class="col-sm-6">{{PlayerWithdrawalsPopup.userFace}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6">Start Date: </label>
                    <span class="col-sm-6">{{PlayerWithdrawalsPopup.startDate}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6">Finish Date: </label>
                    <span class="col-sm-6">{{PlayerWithdrawalsPopup.finishDate}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6">User Type </label>
                    <span class="col-sm-6">{{PlayerWithdrawalsPopup.user.fullName}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6">User </label>
                    <span class="col-sm-6"> {{PlayerWithdrawalsPopup.user.login}} </span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Short ID: </label>
                    <span class="col-sm-6">{{PlayerWithdrawalsPopup.user.shortId}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Status </label>
                    <span class="col-sm-6">{{PlayerWithdrawalsPopup.status}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6">Charged Amount: </label>
                    <span class="col-sm-6">{{PlayerWithdrawalsPopup.chargedAmount.value |numberFormat}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Order Amount: </label>
                    <span class="col-sm-6">{{PlayerWithdrawalsPopup.orderAmount.value |numberFormat}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Payment System: </label>
                    <span class="col-sm-6">{{PlayerWithdrawalsPopup.paymentSystemType}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Payment Means Number: </label>
                    <span class="col-sm-6">{{PlayerWithdrawalsPopup.paymentMeansNumber}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6">Cashout ID </label>
                    <span class="col-sm-6">{{PlayerWithdrawalsPopup.cashoutId}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6">Internal ID </label>
                    <span class="col-sm-6">{{PlayerWithdrawalsPopup.internalId}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6">External ID</label>
                    <span class="col-sm-6"></span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> System Comment </label>
                    <span class="col-sm-6">{{PlayerWithdrawalsPopup.comment}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Initiator </label>
                    <span class="col-sm-6">{{PlayerWithdrawalsPopup.initiator.login}}</span>
                </div>
            </div>
        </div>
        <div class="bottomFix">
            <button class="btn_grade_1" (click)="closePopup()"> Save </button>
            <button class="btn_grade_2" (click)="closePopup()"> Cancel </button>
        </div>
    </div>
</div>
<!-- ****************************PopUp_end*********************************** -->