<div>
    <h3>Skins Manage</h3>
</div>
<div class="fd">
    <div>
        <table class="tablCode" id="excel-table">
            <thead>
                <tr>

                    <th>Key</th>
                    <th>Name</th>
                    <th>External Login</th>
                    <th>Skin Enabled</th>
                </tr>
            </thead>
            <tbody>
                <tr (dblclick)="onClick(i)" *ngFor="let faces of faceParametersList,let i=index">
                    <td>{{faces.name}}</td>
                    <td>{{faces.siteName}}</td>
                    <td>
                        <input type="checkbox" class="checkclick" />
                    </td>
                    <td>
                        <input type="checkbox" checked class="checkclick" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- ********************************************************************** -->
    <div class="black_cover" *ngIf="skinsPopup" (click)="closepopup()"></div>
    <div class="popup_1 pop_sm" *ngIf="skinsPopup">
        <div class="PopupHead">
            <h5 class="text-center">Skins Manage</h5>
            <span class="closetop" (click)="closepopup()"> <img src="assets/icons/closePop.svg"> </span>
        </div>
        <div class="soon font_13">
            <div class="fd p_5 ">

                <div class="df m_3">
                    <label class="col-sm-6"> Key </label>
                    <span class="col-sm-6">{{skinsManage.name}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Name </label>
                    <span class="col-sm-6">{{skinsManage.siteName}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> External Login </label>
                    <span class="col-sm-6">
                        <input type="checkbox" />
                    </span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Skin Enabled </label>
                    <span class="col-sm-6">
                        <input type="checkbox" checked />
                    </span>
                </div>

            </div>
        </div>
        <div class="bottomFix">
            <button class="btn_grade_1" (click)="closepopup()"> Save </button>
            <button class="btn_grade_2" (click)="closepopup()"> Cancel </button>
        </div>
    </div>
</div>