table tfoot {
  inset-block-end: 0;
  /* "bottom" */

}


.popup_1.pop_sm {
  max-width: 1000px;
  overflow: auto;
  max-height: 80vh;
}

tfoot {
  position: sticky;
  bottom: -1px;
}

.tablCode thead th {
  white-space: break-spaces
}

table input[type="text"] {
  width: 100px;
  outline: none;
}
.spinnerTrue {
  position: fixed;
  z-index: 999;
  left: 50%;
  right: 0;
  top: 50%;
  margin: auto;
}