<div class="fd">
    <div class="fd d_flex ">
        <div class="sideMenu pb-3" id="sideMenu" [ngClass]="{ openMenu: isMenuOpen }">
            <!-- <app-sidemenu></app-sidemenu> -->
            <div class="df">
                <div class=" p_5">
                    <h5>Agent Explore</h5>
                </div>
                <div (click)="openSideP()" class="text-end">
                    <!-- <i class="fa fa-ellipsis-v" style="font-size:24px"></i> -->
                    <img src="../../../../assets/Logos/right-click.png" class="right_image">
                </div>
            </div>

            <li class="list_tag">
                <div class="side_flex">
                    <div (click)="AgentMenu()" class="main_liTag icon_i" routerLinkActive="active_link_1"
                        routerLink="/Agentexplorer/AgentSummary">
                        {{AgentName}}
                        <span *ngIf="!AgentMenuList"> <i class="fa fa-angle-right font_ss"></i></span> <span
                            *ngIf="AgentMenuList"><i class="fa fa-angle-down font_ss"></i></span>

                        <!-- <span *ngIf="!AgentMenuList">+</span>
                        <span *ngIf="AgentMenuList">-</span> -->

                        <!-- raju -->
                    </div>

                </div>

            </li>
            <div *ngIf="popupList" class="black_cover1" (click)="popupListclose()"></div>
            <div>
                <div class="popup1" *ngIf="popupList">
                    <button routerLinkActive="active_link_1" routerLink="/Agentexplorer/AgentManualDeposit"
                        (click)="AgentActions('ManualDeposit')">Manual Deposit</button>
                    <!-- <button (click)="AgentActions('CompulsoryCashout')">Compulsory Cashout</button> -->
                    <button (click)="compalsaryCashOut()">Compulsory Cashout</button>
                    <button routerLinkActive="active_link_1" routerLink="/Agentexplorer/AgentCashAdjustment"
                        (click)="AgentActions('CashAdjustment')">Cash Adjustment</button>
                    <button (click)="AgentActions('RevenuePayment')">Revenue Payment</button>
                    <button (click)="Revenueclosepopup()">Revenue Adjustment</button>
                    <button (click)="referPlayerPopup('player')">Refer Player</button>
                    <!-- <button (click)="AgentActions('ReferPlayer')">Refer Player</button> -->
                    <button (click)="referPlayerPopup('agent')">Refer Agent</button>
                    <!-- <button (click)="AgentActions('ReferAgent')">Refer Agent</button> -->
                    <!-- <button (click)="AgentActions('ChangePermissionGroup')">Change Permission Group </button> -->
                    <button (click)="changePermissionGroupPopup()">Change Permission Group </button>
                    <button (click)="promotinalCodePopup()">add promotional code</button>
                    <!-- <button routerLinkActive="active_link_1" routerLink="/Agentexplorer/addpromtionalcode"
                        (click)="AgentActions('addpromotionalcode')">add promotional code</button> -->
                    <button (click)="AgentActions('AddCreditCard')">Add Credit Card</button>
                </div>
            </div>
            <div class="fd">
                <ul *ngIf="AgentMenuList" class="main_li menuSide">
                    <li class="sidebtns" routerLinkActive="active_link_1" routerLink="/Agentexplorer/AgentPersonalInfo">
                        Personal Information</li>
                    <li class="sidebtns" routerLinkActive="active_link_1" routerLink="/Agentexplorer/AgentCashWallets">
                        Summary</li>
                    <li class="sidebtns" routerLinkActive="active_link_1" routerLink="/Agentexplorer/AgentBalance">Agent
                        Balance</li>
                    <li class="sidebtns" routerLinkActive="active_link_1"
                        routerLink="/Agentexplorer/AgentNestedBalance">Agent Nested Balance</li>
                    <li class="sidebtns" routerLinkActive="active_link_1" routerLink="/Agentexplorer/revenueSummary">
                        Revenue Summary</li>
                    <li class="sidebtns" routerLinkActive="active_link_1"
                        routerLink="/Agentexplorer/AgentCashAdjustment">Cash Adjustment </li>
                    <li class="sidebtns" routerLinkActive="active_link_1" routerLink="/Agentexplorer/RefferedPlayers">
                        Referred Players</li>
                    <li class="sidebtns" routerLinkActive="active_link_1" routerLink="/Agentexplorer/RefferedAgents">
                        Referred Agents</li>
                    <li class="sidebtns" routerLinkActive="active_link_1" routerLink="/Agentexplorer/RevenueSettings">
                        Revenue Settings</li>
                    <li class="sidebtns" routerLinkActive="active_link_1"
                        routerLink="/Agentexplorer/PlayersChargebacks">Players Chargebacks</li>
                    <li class="sidebtns" routerLinkActive="active_link_1" routerLink="/Agentexplorer/IpHistory">Ip
                        History</li>
                    <!-- <li  routerLinkActive="active_link_1"  routerLink="/playerexplorer/PlayerBonusAdjustment" >Bonus Adjustment </li>
                  <li  routerLinkActive="active_link_1"  routerLink="/playerexplorer/PlayerManualDeposit" >Manual Deposit  </li> -->
                    <!-- <li  routerLinkActive="active_link_1"  routerLink="/playerexplorer/PlayersSummary">Attached Documents</li> -->

                    <li>
                        <div class="side_flex">
                            <div (click)="Paymentsystem()" class="sub_head icon_i">
                                Payment System
                                <span *ngIf="!PaymentList"> <i class="fa fa-angle-right font_ss"></i></span> <span
                                    *ngIf="PaymentList"><i class="fa fa-angle-down font_ss"></i></span>

                                </div>
                            </div>
                                <!-- <span *ngIf="!AgentMenuList">+</span>
                                <span *ngIf="AgentMenuList">-</span> -->

                                <!-- raju -->
                        <!-- <div class="main_liTag icon_i" (click)="Paymentsystem()">    Payment System
                            <span *ngIf="!PaymentList"> <i class="fa fa-angle-right font_ss"></i></span> <span *ngIf="PaymentList"><i
                                class="fa fa-angle-down font_ss"></i></span>
                      </div> -->
                        <ul *ngIf="PaymentList" class="main_li">
                            <li class="sidebtns" routerLinkActive="active_link_1" routerLink="/Agentexplorer/cashdeposits">
                                Deposits</li>
                            <li class="sidebtns" routerLinkActive="active_link_1" routerLink="/Agentexplorer/cashout">
                                Cashouts</li>
                            <li class="sidebtns" routerLinkActive="active_link_1" routerLink="/Agentexplorer/withdrawals">
                                Withdrawals</li>
                            <li class="sidebtns" routerLinkActive="active_link_1"
                                routerLink="/Agentexplorer/chargebacks">Chargebacks</li>
                            <li class="sidebtns" routerLinkActive="active_link_1"
                                routerLink="/Agentexplorer/CashAdjustments">Cash Adjustments</li>
                            <li class="sidebtns" routerLinkActive="active_link_1"
                                routerLink="/Agentexplorer/AgentTransferstoPlayers">Transfer to Players</li>
                            <li class="sidebtns" routerLinkActive="active_link_1"
                                routerLink="/Agentexplorer/AgentTransferstoAgents">Transfer to Agents</li>
                            <li class="sidebtns" routerLinkActive="active_link_1"
                                routerLink="/Agentexplorer/revenueAdjustments"> Revenue Adjustments </li>
                            <li class="sidebtns" routerLinkActive="active_link_1"
                                routerLink="/Agentexplorer/revenuePayments"> Revenue Payments </li>
                            <li class="sidebtns" routerLinkActive="active_link_1"
                                routerLink="/Agentexplorer/DetailTransaction"> Detailed Transaction History </li>
                            <li class="sidebtns" routerLinkActive="active_link_1"
                                routerLink="/Agentexplorer/currencyexchanges"> Currency Exchanges </li>
                        </ul>
                    </li>
                    <li >
                        <div class="side_flex">
                            <div (click)="PromotionalCodes()" class="sub_head icon_i">
                                Promotional Codes
                                <span *ngIf="!PromotionalList"><i class="fa fa-angle-right font_ss"></i></span> <span
                                    *ngIf="PromotionalList"><i class="fa fa-angle-down font_ss"></i></span>
                            </div>
                        </div>
                        <ul *ngIf="PromotionalList" class="main_li">
                            <li class="sidebtns" routerLinkActive="active_link_1"
                                routerLink="/Agentexplorer/promotinalcodes">Promotional Codes</li>
                            <li class="sidebtns" routerLinkActive="active_link_1" routerLink="/Agentexplorer/promotinolcodeusages">
                                Promotional Codes Usages</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="rightBody" id="rightBody" [ngClass]="{ closeMenu: !isMenuOpen }">
            <div class="fd">
                <div class="bg_27 shadow_2 dashTop z_1 p_15 d_flex spc_bwtn">
                    <div class="d_flex">
                        <div (click)="toggelMenu()" class="clr_ff menuIcn">
                            <!-- <img class="menuIcon" src="assets/icons/menu.svg" /> -->
                            <!-- <i class="fa fa-regular fa-xmark-large"></i> -->
                            <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                            <i [ngClass]="isMenuOpen ? 'fa fa-bars' : 'fa fa-solid fa-bars' "></i>
                            <!-- <i [ngClass]="isMenuOpen ? 'fa fa-times' : 'fa fa-solid fa-bars' "></i> -->
                        </div>
                        <!-- <img class="logoTop" src="assets/logo.png" /> -->
                        <img class="logoTop" src="assets/Back-Office.jpg" />
                        <!-- <img class="logoTop" src="assets/Logos/latpokerlogo.png" /> -->
                        <!-- <img class="logoTop" src="assets/Logos/logo_dark.png" /> -->
                    </div>
                    <!-- <div style="float:right; width: 100px;">
                 <button class="btn" (click)="logout()">Logout</button>
                 </div> -->
                    <!-- <button class="btn" (click)="show2(modal2)">PopUp</button>
                    <button class="btn" (click)="show(childs['modal'])">PopUp1</button> -->
                    <!-- <app-agent-actions #childs></app-agent-actions> -->

                </div>
                <!-- <div style="position: static; ">
                    <app-agent-actions #childs ></app-agent-actions>
                </div> -->
            </div>
            <div class="fd p_15 m_t_60 rightBodyScrol">
                <!-- <img src="assets/Logos/LatamBackImg.png" alt=""> -->
                <!-- <img src="../src/assets/Logos/LatamBackImg.png" alt=""> -->
                <router-outlet></router-outlet>
                <!-- <div> {{currentDateTime| date:'yyyy-MM-dd'}} </div> -->
            </div>
        </div>
    </div>
</div>

<div #modal2 class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal parent</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- **********************************ReferPlayerPop********************************************* -->
<div *ngIf="ReferPlayerPop">
    <app-refer-player-agent (notifyParent)="referPlayerPopup('')" [agentInfo]="AgentInfo"
        [user]="userType"></app-refer-player-agent>
</div>


<!-- <div class="black_cover" *ngIf="ReferPlayerPop">
    <div class="popup_1 pop_sm" *ngIf="ReferPlayerPop">
        <div class="PopupHead">
            <h5 class="text-center">Refer player to Agent</h5>
            <span class="closetop" (click)="closeClick()"> <img src="assets/icons/closePop.svg"> </span>
        </div>
        <div class="soon font_13 fd p_lr_15">
            <div class="fd p_10  ">
              
                <div>
                    <div>
                        <label class="col-sm-4 p_3">Refferrer</label>
                        <span>{{AgentName}}</span>
                    </div>
                    <div>
                        <label class="col-sm-4 p_3">Compaigan</label>
                        <span>
                            <select class="seclectopt" [(ngModel)]="PlayerCompaiganId">
                                <option [ngValue]="list.guid" *ngFor="let list of playerCampaigns">{{list.name}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div>
                        <label class="col-sm-4 p_3">User Login</label>
                        <span>
                            <input class="seclectopt " type="text" [(ngModel)]="UserLogin"
                                (input)="onUserInput($event)" />
                        </span>
                        <button class="btn_grade_1" [disabled]="!UserLogin" (click)="findUser('Player')">Find</button>
                    </div>
                    <div>
                        <label class="col-sm-4 p_3">Refferal</label>
                        <span class="col-sm-9">
                            <span id="errorInfo">
                              
                                {{Error_Txt}}
                            </span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <div class="bottomFix">
            <button id="refBtn" class="btn_grade_1" [disabled]="enableRefer_Btn" (click)="refer('Player')">
                Refer
            </button>
            <button class="btn_grade_2" (click)="closeClick()"> Cancel </button>
        </div>
    </div>
</div> -->
<!-- ***********************************ReferPlayerPopEnd******************************************** -->

<!-- ***********************************ReferAgentPop******************************************** -->
<!-- <div class="black_cover1" *ngIf="ReferAgentPop">
    <div class="popup_1 pop_sm" *ngIf="ReferAgentPop">
        <div class="PopupHead">
            <h5 class="text-center">Refer Agent to Agent</h5>
            <span class="closetop" (click)="closeAgentPop()"> <img src="assets/icons/closePop.svg"> </span>
        </div>
        <div class="soon font_13 fd p_lr_15">
            <div class="fd p_10  ">
               
                <div>
                    <div>
                        <label class="col-sm-4 p_3">Refferrer</label>
                        <span>{{AgentName}}</span>
                    </div>
                    <div>
                        <label class="col-sm-4 p_3">Compaigan</label>
                        <span>
                            <select class="seclectopt" [(ngModel)]="AgentCompaiganId">
                                <option [ngValue]="list.guid" *ngFor="let list of agentCampaigns">{{list.name}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div>
                        <label class="col-sm-4 p_3">User Login</label>
                        <span>
                            <input class="seclectopt " type="text" [(ngModel)]="UserLogin"
                                (input)="onUserInput($event)" />
                        </span>
                        <button class="btn_grade_1" [disabled]="isDisabled" (click)="findUser('Agent')">Find</button>
                    </div>
                    <div>
                        <label class="col-sm-4 p_3">Refferal</label>
                        <span class="col-sm-9">
                            <span id="errorInfo">
                               
                                {{Error_Txt}}

                            </span>
                        </span>
                        <div>
                            <h6 class="m_3">Revenue percents</h6>
                            <div class="col-sm-12">
                                <div class="df m_3">
                                    <table class="tablCode table_2" id="excel-table">
                                        <thead>
                                            <tr>
                                                <th>Revenue Form</th>
                                                <th>Parameter</th>
                                                <th>Value</th>
                                                <th>Last Change</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="agentReventPerc">
                                            <tr *ngFor="let list of agentReventPerc">
                                                <td>{{list.programName}}</td>
                                                <td>{{list.parameter}}</td>
                                                <td>{{list.percent}}</td>
                                                <td [ngClass]="{ 'text-danger': list.percent<list.Newpercent }">
                                                    {{list?.Newpercent}}</td>
													  <td><input type="number" value="{{list.percent}}" [(ngModel)]="list.percent"
                                                    [ngModelOptions]="{standalone: true}"
                                                    oninput="this.value = Math.abs(this.value)" type="number" min="0" />
                                            </td>
                                            <td><input type="number" value="{{list.Newpercent}}" [(ngModel)]="list.Newpercent"
                                                    [ngModelOptions]="{standalone: true}"
                                                    oninput="this.value = Math.abs(this.value)" type="number" min="0" />
                                            </td> 
</tr>
</tbody>

</table>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="bottomFix">
    <button id="refBtn" class="btn_grade_1" [disabled]="enableRefer_Btn" (click)="refer('Agent')">
        Refer
    </button>
    <button class="btn_grade_2" (click)="closeAgentPop()"> Cancel </button>
</div>
</div>
</div>
</div>-->

<!-- ***********************************ReferAgentPopEnd******************************************** -->
<!-- ***********************************MovetoAgentPopup******************************************** -->
<div class="black_cover" *ngIf="MovetoAgentPopup">
    <div class="popup_1 pop_sm" *ngIf="MovetoAgentPopup">
        <div class="PopupHead">
            <h5 class="text-center">Alert</h5>
            <span class="closetop" (click)="MoveconformPopup('no')"> <img src="assets/icons/closePop.svg"> </span>
        </div>
        <div class="soon font_13 fd p_lr_15">
            <div class="fd p_10  ">
                <p>{{MoveconformText}}</p>
            </div>
        </div>
        <div class="bottomFix">
            <button class="btn_grade_1" (click)="MoveconformPopup('yes')"> yes </button>
            <button class="btn_grade_2" (click)="MoveconformPopup('no')"> Cancel </button>
        </div>
    </div>
</div>

<!-- ***********************************MovetoAgentPopupEnd******************************************** -->

<!-- ***********************************RevenuePaymentpop******************************************** -->
<div class="black_cover1" *ngIf="RevenuePaymentpop">
    <div class="popup_1 pop_sm" *ngIf="RevenuePaymentpop">
        <div class="PopupHead">
            <h5 class="text-center">Revenue Payment</h5>
            <span class="closetop" (click)="RevenuePaymentpopClose('no')"> <img src="assets/icons/closePop.svg"> </span>
        </div>
        <div class="soon font_13 fd p_lr_15">
            <div class="fd p_10  ">
                <div>
                    <h6>Payment Options</h6>
                    <span><input type="checkbox" [(ngModel)]="AllSubAgents" /> Make payment to all sub-agents</span>
                </div>
                <div>
                    <h6>E-mail Template</h6>
                    <span>
                        <select class="fd" [(ngModel)]="MailTemplateGuid">
                            <option [ngValue]="list.guid" *ngFor="let list of AgentMailTemplates">{{list.name}}</option>
                        </select>
                    </span>
                </div>
                <div>
                    <h6>Comment</h6>
                    <textarea class="fd" [(ngModel)]="MailTemplateComment">

                    </textarea>
                </div>
            </div>
        </div>
        <div class="bottomFix">
            <button class="btn_grade_1" (click)="RevenuePaymentpopClose('yes')"> yes </button>
            <button class="btn_grade_2" (click)="RevenuePaymentpopClose('no')"> Cancel </button>
        </div>
    </div>
</div>

<!-- ***********************************RevenuePaymentpopEnd******************************************** -->




<!-- ***********************************SpinnwerT******************************************** -->
<div class="black_cover" *ngIf="SpinnwerT"></div>
<!-- <div class="FullCover" *ngIf="SpinnwerT"></div> -->
<div class="spinnerTrue" *ngIf="SpinnwerT">
    <i class="fa fa-spinner fa-spin" style="font-size:60px;color: #f28916;"></i>
</div>

<!-- ***********************************SpinnwerT******************************************** -->

<div *ngIf="compulsorycahout">
    <app-compulsory-cahout (notifyParent)="compalsaryCashOut()" [userInfo]="AgentInfo"
        [userType]="'Agent'"></app-compulsory-cahout>
</div>


<div *ngIf="revenueAdjustmentPopup">
    <app-set-revenue-adjustment #setAgentComp (notifyParent)="Revenueclosepopup()"
        [agentinfo]="AgentInfo"></app-set-revenue-adjustment>
    <!-- <app-set-revenue-adjustment #setAgentComp (notifyParent)="Revenueclosepopup()" [agentinfo]="AgentInfo"></app-set-revenue-adjustment> -->
</div>

<div *ngIf="isPromotionalCodePopup">
    <app-addpromotionalcode (notifyParent)="promotinalCodePopup()" [agentinfo]="AgentInfo"
        [userType]="'Agent'"></app-addpromotionalcode>
</div>

<div *ngIf="isChangePermissionGroup">
    <change-permission-group (notifyParent)="changePermissionGroupPopup()" [userInfo]="AgentInfo"
        [userType]="'Agent'"></change-permission-group>
</div>