<div>
    <h4>P2P Transfers</h4>
</div>
<div class="dropdown fd">
    <button (click)="fillterMenu()" class="fillterbtn font_14">Filters
        <i *ngIf="!FillterList" class="fa fa-chevron-down IcArrow" title="open"
            style="font-size:14px;  transition:all 0.5s ;"></i>
        <i *ngIf="FillterList" class="fa fa-chevron-up IcArrow" title="close"
            style="font-size:14px; transition:all 0.5s"></i>
    </button>

    <button class="fillterbtn m_l_5" style="float: right;" (click)="exportExcel()"> Export Excel</button>
    <button class="fillterbtn m_l_5 btn_sub12" style=" float: right;" (click)="exportCsv()"> Export Csv</button>
</div>

<div class="fd filterDiv" *ngIf="FillterList">
    <form [formGroup]="filterForm">
        <div class="p_25">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-4" *ngIf="playerExplorer">
                    <div class="div_flex p_5_10">
                        <label>Creation PeriodStart</label>
                        <input class="inp_agent_time" type="date" [max]="endDate" formControlName="startDate"
                            [ngModel]="startDate" (ngModelChange)="startDate = $event" (change)="showDate($event)" />
                        <input type="time" class="Birthdayinputs" step="1" formControlName="startTime"
                            [(ngModel)]="selectedTime" name="selectedTime" [ngModelOptions]="{standalone: true}"
                            (change)="timechnage($event)" />
                    </div>
                    <div class="div_flex p_5_10">
                        <label>Creation PeriodEnd</label>
                        <input class="inp_agent_time" type="date" [max]="todaydate" formControlName="endDate"
                            [ngModel]="endDate" (ngModelChange)="endDate = $event" (change)="showDate($event)" />
                        <input type="time" class="Birthdayinputs" step="1" formControlName="endTime"
                            [(ngModel)]="selectedEndTime" name="selectedEndTime"
                            [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-4">

                    <div class="div_flex p_5_10">
                        <label>Currency</label>
                        <div class="multi_dropdown">
                            <ng-multiselect-dropdown [settings]="WalletSettings" [data]="walletlists"
                                [(ngModel)]="walletlistsCopy" formControlName="currency"
                                (onSelect)="onSelectCurrency($event)" (onDeSelect)="onDeSelectCurrency($event)"
                                (onSelectAll)="onSelectAllCurrency($event)"
                                (onDeSelectAll)="onDeSelectAllCurrency($event)">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="fd">
    <button class="fillterbtn font_14" style="float: right;" (click)="onFormSubmit()">Submit</button>
    <div class="df m-1">
        <div style="margin-right:20px;" *ngIf="p2pTransfersdataList">Rows On the Page: {{rowsOnthePage}}</div>
        <div> Result Count: {{ResultCount}} <b *ngIf="resultcount">To get data set and apply
                the filters</b></div>
    </div>
</div>
<div class="fd">
    <div clas='fd' *ngIf="loader">
        <div class="loaderWraper">
            <div class="loader"></div>
        </div>
    </div>
    <div class="table_2">
        <table class="tablCode fd " id="excel_table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Sender</th>
                    <th>Recipient</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Description</th>
                    <th>Finalization Date</th>
                </tr>
            </thead>
            <tbody *ngIf="p2pTransfersdataList">
                <tr *ngFor=" let i = index ; let list of p2pTransfersdataList">
                </tr>
            </tbody>
        </table>
    </div>
</div>