<h1>Chargebacks</h1>
<div class="fd table_2">
  <table class=" tablCode" id="excel-table">
    <thead>
      <tr>
        <th>Server</th>
        <th>Agent</th>
        <th>Start Date</th>
        <th>Finish Date</th>
        <th>Charged Amount</th>
        <th>Charged Player Fee</th>
        <th>Order Amount</th>
        <th>Order Player Fee</th>
        <th>Payment System</th>
        <th>Payment Means Number</th>
        <th>Internal ID</th>
        <th>Deposit Date</th>
        <th>Deposit ID</th>
        <th>Initiator</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
