<div>
    <h2>Affiliate Revenue Adjustment</h2>
</div>
<div>
    <button class="fillterbtn font_16 color" (click)="fillermenu()">Filters
        <i *ngIf="!FillterMenu" class="fa fa-chevron-down IcArrow" title="open" style="font-size:14px;"></i>
        <i *ngIf="FillterMenu" class="fa fa-chevron-up IcArrow" title="close" style="font-size:14px;"></i>
    </button>

    <button class="fillterbtn m_l_5" style="float: right;" (click)="exportexcel()"> ExportExcel</button>
    <button class="fillterbtn m_l_5 btn_sub12" style=" float: right;" (click)="exportCsv()"> Export Csv</button>
</div>
<div class="fd">
    <div class="fd filterDiv" *ngIf="FillterMenu">
        <form [formGroup]="filterForm" (ngSubmit)="onFormSubmit()">
            <div class="p_25">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-4">

                        <div class="div_flex p_5_10">
                            <label>Reporting PeriodStart</label> 
                            <input class="inp_agent_time" type="date" [max]="endDate" formControlName="startDate"
                                [ngModel]="startDate" (ngModelChange)="startDate = $event" (change)="showDate($event)" />
                            <input type="time" class="Birthdayinputs" format="yyyy-MM-dd" step="1"
                                [(ngModel)]="selectedTime" name="selectedTime" [ngModelOptions]="{standalone: true}"
                                (change)="timechnage($event)" />
                        </div>
                        <div class="div_flex p_5_10">
                            <label>Reporting PeriodEnd</label> 
                            <input class="inp_agent_time" type="date" [max]="todaydate" formControlName="endDate"
                                [ngModel]="endDate" (ngModelChange)="endDate = $event" (change)="showDate($event)" />
                            <input type="time" class="Birthdayinputs" format="yyyy-MM-dd" step="1"
                                [(ngModel)]="selectedEndTime" name="selectedEndTime"
                                [ngModelOptions]="{standalone: true}" />
                        </div>
                        <div class="div_flex p_5_10">
                            <label>currency</label> 
                            <div class="multi_dropdown">
                                <ng-multiselect-dropdown [settings]="dropdownSettingscurrency" [data]="currencyList"
                                    [(ngModel)]="selectedcurrency" (onSelect)="onItemSelectcurrency($event)"
                                    (onDeSelect)="OnItemDeSelectcurrency($event)"
                                    (onSelectAll)="onSelectAllcurrency($event)"
                                    (onDeSelectAll)="onDeSelectAllcurrency($event)" formControlName="wallet">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                      
                    </div>
                    <div class="col-12 col-lg-6 col-xl-4">
                        <div class="div_flex p_5_10">
                            <label>Affiliate Login</label>
                            <input type="text" />
                        </div>
                        <div class="div_flex p_5_10">
                            <label>Admin</label>
                            <input type="text" />
                        </div>
                        <div class="div_flex p_5_10">
                            <label>Adjustment Amount</label>
                            <input type="text" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-4">
                        <div class="div_flex p_5_10">
                            <label>First Record</label>
                            <input type="text"formControlName="firstRecord" />
                        </div>
                        <div class="div_flex p_5_10">
                            <label>Page Size</label>
                            <input type="text" formControlName="maxCountRecord" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="fd">
    <button class="fillterbtn font_14" style="float: right;" (click)="onFormSubmit()">Submit</button>
    <div class="text-centers">
        <div style="margin-right:20px;" *ngIf="affiliteRevenueData">Rows On the Page: {{rowsOnthePage}}</div>
        <div> Result Count: {{ResultCount}} <b *ngIf="resultcount">To get data set and apply
                the filters</b></div>
    </div>

</div>
<div class="fd table_2">
    <div clas='fd' *ngIf="loader">
        <div class="loaderWraper">
            <div class="loader"></div>
        </div>
    </div>
    <table class="tablCode" id="excel_table">
        <thead>
            <tr>
                <th>S.no</th>
                <th>Date</th>
                <th>Affiliate </th>
                <th>Admin </th>
                <th>Amount </th>
                <th>Comment </th>
            </tr>
        </thead>
        <tbody *ngIf="affiliteRevenueData">
            <tr *ngFor="let list of affiliteRevenueData; let i=index">
                <td>{{i+1}}</td>
                <td>{{list.date}}</td>
                <td>{{list.webmaster.account}}</td>
                <td>{{list.admin.loginName}}</td>
                <td class="text-end">{{list.amount.value |numberFormat}}</td>
                <td>{{list.comment}}</td>
            </tr>
        </tbody>
    </table>
</div>
