<div>
    <h3> Tournament Statistics </h3>
</div>
<div class="dropdown fd">
    <button (click)="fillermenu()" class="fillterbtn font_14">Filters
        <i *ngIf="!FillterMenu" class="fa fa-chevron-down IcArrow" title="open"
            style="font-size:14px;  transition:all 0.5s ;"></i>
        <i *ngIf="FillterMenu" class="fa fa-chevron-up IcArrow" title="close"
            style="font-size:14px; transition:all 0.5s"></i>
    </button>
    <button class="fillterbtn m_l_5" style="float: right;" (click)="exportexcel()"> Export Excel</button>
    <button class="fillterbtn m_l_5" style=" float: right;" (click)="exportCsv()"> Export Csv</button>
</div>
<div class="fd filterDiv" *ngIf="FillterMenu">
    <form [formGroup]="filterForm">
        <div class="p_25">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="df p_5_10">
                        <label>StartDate</label>
                        <input class="inp_agent_time" type="date" [max]="endDate" formControlName="startDate"
                            [ngModel]="startDate" (ngModelChange)="startDate = $event" (change)="showDate($event)" />
                        <input class="inp_agent_time mobile_view" type="time" formControlName="startTime" step="1"
                            [ngModel]="startTime" (ngModelChange)="startTime = $event" (change)="timechange($event)"
                            [max]="endTime" />
                    </div>
                    <div class="df p_5_10">
                        <label>EndDate</label>
                        <input class="inp_agent_time" type="date" [max]="todaydate" formControlName="endDate"
                            [ngModel]="endDate" (ngModelChange)="endDate = $event" (change)="showDate($event)" />
                        <input class="inp_agent_time mobile_view" type="time" formControlName="endTime" step="1"
                            [ngModel]="endTime" (ngModelChange)="endTime = $event" (change)="timechange($event)" />
                    </div>

                    <div class="red_col" *ngIf="steddate">
                        Start date should be below or equal to end date
                    </div>
                    <div class="red_col" *ngIf="timeerror">
                        Start time should be below or equal to end time
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="div_flex p_5_10">
                        <label>First Record</label>
                        <input type="text" formControlName="firstRecord" />
                    </div>
                    <div class="div_flex p_5_10">
                        <label>Page Size</label>
                        <input type="text" formControlName="maxCountRecord" />
                    </div>
                </div>
                <!-- <div class="col-12 col-sm-6 col-lg-4">
                    <div class="div_flex p_5_10">
                        <label>Page Size</label>
                        <input type="text" formControlName="maxCountRecord" />
                    </div>
                </div> -->
                <!-- <div>
                        <label>Tournament Setting Id</label>
                        <input type="text" formControlName="TournamentSettingId" />
                    </div>
                    <div>
                        <label>Name</label>
                        <input type="text" formControlName="Name" />
                    </div>
                    <div>
                        <label>Make a Deal</label>
                        <input type="checkbox" formControlName="MakeaDeal" checked />
                    </div>
                    <div>
                        <label>Manual Prize Pool</label>
                        <input type="checkbox" formControlName="ManualPrizePool" />
                    </div>
                    <div>
                        <label>Branded Tournament</label>
                        <input type="checkbox" formControlName="BrandedTournament" />
                    </div>

                    <div>
                        <label>Synchronized Break</label>
                        <input type="checkbox" formControlName="SynchronizedBreak" />
                    </div> 
                </div>-->
                <!-- <select class="seclectopt" formControlName="Currency">
                    <option [ngValue]="Wallet.currency" *ngFor="let  Wallet of walletlists">
                        {{Wallet.description}}
                    </option>
                </select> -->



                <!-- <div class="col-sm-4">
                <div>
                        <label>Currency </label>
                        <ng-multiselect-dropdown
                        [settings]="dropdownSettings"
                        [data]="dropdownList"
                        [(ngModel)]="selectedItems"
                        (onSelect)="onItemSelect($event)"
                        (onDeSelect)="OnItemDeSelect($event)" 
                        (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onDeSelectAll($event)"
                        formControlName="skills"
                        >
                        </ng-multiselect-dropdown>

                        
                    </div>
                    <div>
                        <label>Game </label>
                      
                        <div class="fd d-flex flex-row align-items-center games-list-container" (click)="filtergamesbtn()">
                           
                            <div class="games-input-container" >
                              [{{gamesTobeSelected}}]
                                </div>
                            <button class="fillterbtn-games font-size-16">
                                <i *ngIf="!Filtergamesbtn" class="fa fa-chevron-down IcArrow-games" title="open" style="font-size:14px;"></i>
                                <i *ngIf="Filtergamesbtn" class="fa fa-chevron-up IcArrow-games" title="close" style="font-size:14px;"></i>
                            </button>
                        </div>
                    </div>

                    <div>
                        <label>Total Cost </label>
                        <input class="Birthdayinputs" type="text" formControlName="TotalCostfrom" pattern="[0-9]*" maxLength="9"
                        oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : '' " />
                        <input class="Birthdayinputs" type="text" formControlName="TotalCostto" pattern="[0-9]*" maxLength="9"
                        oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : '' " />
                    </div>
                    <div>
                        <label>BuyIn</label>
                        <input class="Birthdayinputs" type="text" formControlName="BuyInfrom" pattern="[0-9]*" maxLength="9"
                        oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : '' " />
                        <input class="Birthdayinputs" type="text" formControlName="BuyInto" pattern="[0-9]*" maxLength="9"
                        oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : '' " />
                    </div>
                    <div>
                        <label>Fee</label>
                        <input class="Birthdayinputs" type="text" formControlName="Feefrom" pattern="[0-9]*" maxLength="9"
                        oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : '' " />
                        <input class="Birthdayinputs" type="text" formControlName="Feeto" pattern="[0-9]*" maxLength="9"
                        oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : '' " />
                    </div>
                    <div>
                        <label>Knockout Bounty</label>
                        <input class="Birthdayinputs" type="text" formControlName="KnockoutBountyfrom" pattern="[0-9]*" maxLength="9"
                        oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : '' " />
                        <input class="Birthdayinputs" type="text" formControlName="KnockoutBountyto" pattern="[0-9]*" maxLength="9"
                        oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : '' " />
                    </div> 
            </div> -->





                <!-- <div class="col-sm-4">
                 <div>
                        <label>Registered</label>
                        <div class="df">
                        <input class="Birthdayinputs" type="text" formControlName="Registeredfrom" />
                        <input class="Birthdayinputs" type="text" formControlName="Registeredto" />
                    </div>
                </div>
                    <div>
                        <label>Min Players</label>
                        <div class="df">
                        <input class="Birthdayinputs" type="text" formControlName="MinPlayersfrom" />
                        <input class="Birthdayinputs" type="text" formControlName="MinPlayersto" />
                    </div>
                    </div>
                    <div>
                        <label>Schedule Type</label>
                        <select class="seclectopt" formControlName="ScheduleType">
                            <option [ngValue]="Schedulelist.guid" *ngFor="let  Schedulelist of ScheduleTypeList">
                                {{Schedulelist.value}}
                            </option>
                        </select> 
                    </div>
                    <div>
                        <label>Status</label> -->



                <!-- <select class="seclectopt" formControlName="Status">
                            <option [ngValue]="StatusList.guid" *ngFor="let StatusList of TournamentStatusList">
                                {{StatusList.value}}
                            </option>
                        </select>  -->

                <!-- <ng-multiselect-dropdown
                        [settings]="TournamentStatusListDropdownSettings"
                        [data]="TournamentStatusList"
                        [(ngModel)]="TournamentStatusListSelectedItems"
                        formControlName="tournamentListStatus"
                        (onSelect)="tournamentStatusListonItemSelect($event)"
                        (onDeSelect)="tournamentStatusListOnItemDeSelect($event)" 
                        (onSelectAll)="tournamentStatusListonSelectAll($event)"
                        (onDeSelectAll)="tournamentStatusListonDeSelectAll($event)"
                        >
                        </ng-multiselect-dropdown>



                    </div> 
                    <div>
                        <label>First Record</label>
                        <input type="text" formControlName="firstRecord" pattern="[0-9]*" maxLength="9"
                        oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : '' " />
                    </div>
                    <div>
                        <label>Page Size</label>
                        <input type="text" formControlName="maxCountRecord" pattern="[0-9]*" maxLength="9"
                        oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : '' " />
                    </div>
            </div>-->
            </div>
        </div>
    </form>
</div>




<!-- fillter games popup -->
<div *ngIf="Filtergamesbtn" class="black_cover"></div>
<!-- <div class="fd filterDiv-game-filter" *ngIf="Filtergamesbtn"> -->
<!-- <div *ngIf="Filtergamesbtn" class="popup_view fd filterDiv-game-filter"> -->
<div *ngIf="Filtergamesbtn" class="fd filterDiv-game-filter">
    <div class="PopupHeads">
        <h5 class="text-center">Poker games </h5>
        <span class="closetop" (click)="filtergamesbtn()"> <img src="assets/icons/closePop.svg">
        </span>
    </div>
    <div class="d-flex flex-row all-games">
        <input class="" type="checkbox" id="checkboxForallgameCaption" [checked]="pokerGamesCheckbox"
            (change)="clickonCheckboxForAllGames($event)">
        <label for="">Poker Games</label>
    </div>
    <div class="poker-caption-container">
        <div class="caption-checkbox" *ngFor="let game of filterItem let i = index">
            <input class="" type="checkbox" [checked]="checkedList[i]" value="{{game.caption}}" id="checkboxId{{i}}"
                (change)="clickonCheckboxIndivisualGames()">
            <!-- (change) ="clickonCheckboxIndivisualGames($event,'checkboxId'+i)"> -->
            <label for="checkboxId{{i}}">{{game.caption}}</label>
        </div>

    </div>


    <div class="bottomFixs">
        <button class="closeBTN" (click)="filtergamesbtn()">close</button>
    </div>
</div>

<!-- fillter games popup -->





<div class="fd">
    <button class="fillterbtn font_14" style="margin-right:15px;margin-top:4px; float: right;"
        (click)="onFormSubmit()">Submit</button>
    <div class="df m_5">
        <div style="margin-right:20px;" *ngIf="pokerTournamentData">Rows On the Page: {{rowsOnthePage}} </div>
        <div> Result Count: {{ResultCount}} <b *ngIf="resultcount">To get data set and apply
                the filters</b></div>
    </div>
</div>

<div class="fd">
    <div clas='fd' *ngIf="loader">
        <div class="loaderWraper">
            <div class="loader"></div>
        </div>
    </div>
    <div class=" fd table_2">
        <table class=" tablCode" id="excel_table">
            <!-- <div class="fd">
    <div class="table_2">

        <table class="tablCode fd "> -->
            <thead>
                <tr class="tablCoderow">
                    <!-- <th>Tournament Setting Id</th>
                    <th>Creation Date</th>
                    <th>Start Date </th>
                    <th>Name</th>
                    <th>Currency</th>
                    <th>Game</th>
                    <th>Total Cost</th>
                    <th>-Buy-In</th>
                    <th>-Fee</th>
                    <th>-Knockout Bounty</th>
                    <th>Guaranteed Prize</th>
                    <th>Total Buy-Ins</th>
                    <th>Total Fee</th>
                    <th>Registered/Min players</th>
                    <th>Comp Points</th>
                    <th>Payout Table</th>
                    <th>Level Length, Min</th>
                    <th>Seats</th>
                    <th>Status</th>
                    <th>Rule Name</th>
                    <th>ManualPrizePoolTourney </th> -->


                    <th>Id</th>
                    <th>Name</th>
                    <th>State</th>
                    <th>StartDate</th>
                    <th>Tot. Entries</th>
                    <th>BuyIn Amt</th>
                    <th>Entry Fee</th>
                    <th>Tot. Prize Pool</th>
                    <th>No. of R&A</th>
                    <!-- <th>Revenue</th> -->
                    <th>Expenses</th>
                </tr>
            </thead>
            <tbody *ngIf="pokerTournamentData">
                <tr *ngFor="let list of pokerTournamentData;let i=index " (click)="PlayerPopup(i)">
                    <!-- <td></td>
                    <td>{{list.createDate}} </td>
                    <td>{{list.startDate}}</td>
                    <td>{{list.caption}}</td>
                    <td>{{list.buyIn.wallet}}</td>
                    <td>{{list.gameName}}</td>
                    <td>{{list.totalCost.value}}</td>
                    <td>{{list.buyIn.value}}</td>
                    <td>{{list.fee.value}}</td>
                    <td>{{list.knockoutBounty.value}}</td>
                    <td>{{list.guarantedPrize.value}}</td>
                    <td>{{list.totalBuyIn.value}}</td>
                    <td>{{list.totalFee.value}}</td>
                    <td>{{list.registered}}/{{list.minPlayers}}</td>
                    <td></td>
                    <td>{{list.payoutTable}}</td>
                    <td></td>
                    <td>{{list.seats}}</td>
                    <td>{{list.status}}</td>
                    <td>{{list.accessRuleName}}</td>
                    <td>
                        <input *ngIf="list.manualPrizePoolTourney==true" type="checkbox" class="checkclick" checked />
                        <input *ngIf="list.manualPrizePoolTourney==false" type="checkbox" class="checkclick" />
                    </td> -->

                    <td>{{i+1}}</td>
                    <td >{{list.caption}}</td>
                    <td>{{list.status}}</td>
                    <td>{{changeSelect(list.startDate)}}</td>
                    <td>{{list.registered}}</td>
                    <td class="text-end">{{list.buyIn.value |numberFormat}}</td>
                    <td class="text-end">{{list.fee.value |numberFormat}}</td>
                    <td class="text-end">{{list.buyIn.value*list.registered |numberFormat}}</td>
                    <td>{{list.totalRebuyCount+list.totalAddonCount}}</td>
                    <!-- <td></td> -->
                    <td>{{list.buyIn.value*list.registered*0.1}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="fd" *ngIf="pokerTournamentData">
        <div class="pagecount">
            <button class="Pagebtns" [disabled]="PageCount==1 || pokerTournamentData==null"
                (click)="fastbackforward()"><i class="fa fa-step-backward" style="font-size:20px"></i>
            </button>
            <button class="Pagebtns" [disabled]="PageCount==1 ||pokerTournamentData==null" (click)="prev()">
                <i class="fa fa-caret-left" style="font-size:20px"></i>
            </button>
            <div class="PageCountNoDiv">
                <div class="" *ngIf="pokerTournamentData">{{PageCount}}</div>
            </div>
            <button class="Pagebtns " [disabled]="pokerTournamentData==null || pagecontrolbtn" (click)="next()">
                <i class="fa fa-caret-right" style="font-size:20px"></i>
            </button>
            <button class="Pagebtns" [disabled]="pokerTournamentData==null || pagecontrolbtn" (click)="fastforward()">
                <i class="fa fa-step-forward" style="font-size:20px"></i></button>
        </div>
    </div>
</div>

<!-- *****************************PopUp********************************** -->
<div class="black_cover" *ngIf="pokerTournamentDatapopup">
    <div class="popup_1 pop_sm" *ngIf="pokerTournamentDatapopup">
        <div class="PopupHead">
            <h5 class="text-center">Poker Tournament History </h5>
            <span class="closetop" (click)="closepopup()"> <img src="assets/icons/closePop.svg"> </span>
        </div>
        <div class="soon font_13 fd p_lr_15">
            <div class="fd p_5 ">
                <div class="df">
                    <label class="col-sm-6"> Tournament Setting Id </label>
                    <span class="col-sm-6"></span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Creation Date </label>
                    <span class="col-sm-6">{{pokerPlayerData.createDate}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Start Date </label>
                    <span class="col-sm-6">{{pokerPlayerData.startDate}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Name </label>
                    <span class="col-sm-6">{{pokerPlayerData.caption}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Currency </label>
                    <span class="col-sm-6">{{pokerPlayerData.buyIn.wallet}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Game </label>
                    <span class="col-sm-6">{{pokerPlayerData.gameName}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Total Cost </label>
                    <span class="col-sm-6">{{pokerPlayerData.totalCost.value}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6">-Buy-In </label>
                    <span class="col-sm-6">{{pokerPlayerData.buyIn.value}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> -Fee </label>
                    <span class="col-sm-6">{{pokerPlayerData.fee.value}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> -Knockout Bounty </label>
                    <span class="col-sm-6">{{pokerPlayerData.knockoutBounty.value}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Guaranteed Prize </label>
                    <span class="col-sm-6">{{pokerPlayerData.guarantedPrize.value}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Total Buy-Ins </label>
                    <span class="col-sm-6">{{pokerPlayerData.totalBuyIn.value}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Total Fee </label>
                    <span class="col-sm-6">{{pokerPlayerData.totalFee.value}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Registered/Min Players </label>
                    <span class="col-sm-6">{{pokerPlayerData.registered}}/{{pokerPlayerData.minPlayers}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Comp Points </label>
                    <span class="col-sm-6"></span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6">Payout Table </label>
                    <span class="col-sm-6">{{pokerPlayerData.payoutTable}}</span>
                </div>

                <div class="df m_3">
                    <label class="col-sm-6">Level Length, Min </label>
                    <span class="col-sm-6"></span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Seats </label>
                    <span class="col-sm-6">{{pokerPlayerData.seats}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6"> Status </label>
                    <span class="col-sm-6">{{pokerPlayerData.status}}</span>
                </div>
                <div class="df m_3">
                    <label class="col-sm-6">Rule Name </label>
                    <span class="col-sm-6">{{pokerPlayerData.accessRuleName}}</span>
                </div>


            </div>
        </div>
        <div class="bottomFix">
            <button class="btn_grade_1" (click)="closepopup()"> Save </button>
            <button class="btn_grade_2" (click)="closepopup()"> Cancel </button>
        </div>
    </div>
</div>
<!-- ****************************PopUp_end*********************************** -->