.popup_1.pop_sm {
  max-width: 500px;
  overflow: auto;
  max-height: 80vh;
}

.popup_1 input:focus,
.popup_1 select:focus {
  outline: none;
}

.popup_1 input,
.popup_1 select {
  border: solid 1px #ddd;
  padding: 2px;
}

.soon .col-sm-4 label {
  padding: 2px;
  margin: 2px;
}

.soon .col-sm-8 select,
.soon .col-sm-8 input {
  margin: 2px;
}
.spinnerTrue {
  position: fixed;
  z-index: 999;
  left: 50%;
  right: 0;
  top: 50%;
  margin: auto;
}