

.Blindpopup {
    background: #fff;
    max-width: 500px;
    margin: auto;
    top: 150px;
    /* top: 250px; */
    position: fixed;
    z-index: 1000;
    left: 15px;
    right: 15px;
    border-radius: 5px;
    overflow: auto;
    max-height: 80vh;
  }
  .wh{
    width: 100%;
    height: 200px;
    margin-top: 5px;
    /* align-items: center;
    justify-content: center; */
    display: flex;
  }
  .table_2 thead{
    position: sticky;
    top: 0;
  }
   .deletebtn {
    width: 50%;
    padding: 12px 20px ;
    margin: 0  25% 0 ;  
    display: inline-block;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .overflow{
      overflow: auto;
  }
  .AddNewRangebtn {
      padding: 5px 7px;
      border-radius: 50px;
      font-weight: bold;
      font-size: 10px;
      transition: all 0.5s;
      margin: 3px;
      border: solid 1px #ddd;
      color: #fff;
      background: linear-gradient(45deg, #00b782, #006b9f);
      width: 70%;
      position: relative;
  
  }
  .AddNewRangebtn:disabled{
    cursor: no-drop;
    color: #0c0c0c ;
    background: #5e5d5d34;
  }
  .btn_grade_1 {
      background: linear-gradient(45deg, #00b782, #006b9f);
      background: linear-gradient(45deg, #00b782, #006b9f);
  }
  .SeletedRangeArea{
      padding: 5px;
      margin: 3px;
      border: 1px solid gray;
      border-radius: 5px;
      box-shadow: 1px 4px 9px gray;
  }
  .SeletedRangeArea label{
      width: 35px;
  }
  .SeletedRangeArea input{
      width: 50px;
  }
  .SeletedRangeArea button{
     
      width: 50px;
      margin-left: 55px;
  }
  .ParticipantRangeArea{
    height: 32px;
  }
  
  .ParticipantRangeArea p {
    padding:2px;
    margin: 2px 2 0 0;
    text-align: center;
    
    border: 1px solid gray;
    border-radius: 5px;
    /* position: relative;
    overflow: auto; */
    /* box-shadow: 1px 4px 9px gray; */
  }
  .save_div{
        position: absolute;
        bottom: 0;
        background: azure;
        width: 100%;
  }
  .mar_bottom{
    margin-bottom: 13%;
  }
  .Point_list {
    position: sticky;
    top: 0;
    background: bisque;
    padding: -15px;
    /* margin-top: -23px; */
}
