
.text-center {
  display: flex;
  justify-content: space-around;
}

.table_2 thead tr th {
  position: sticky;
  top: 0;
}

table tfoot {
  inset-block-end: 0;

}

tfoot {
  position: sticky;
  bottom: -1px;
}
.popup_1.pop_sm {
  max-width: 550px;
  overflow: auto;
  max-height: 80vh;
}